<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCjNLxJh_rr2CleT6tRkDwdsaLorj3L2bA</string>
	<key>GCM_SENDER_ID</key>
	<string>725084487898</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crud</string>
	<key>PROJECT_ID</key>
	<string>crud-57d13</string>
	<key>STORAGE_BUCKET</key>
	<string>crud-57d13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:725084487898:ios:44cb0fee98af727c2d65e3</string>
</dict>
</plist>